[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.2.2"
cfgv = "==3.4.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
distlib = "==0.3.8"
faker = "==24.8.0"
filelock = "==3.13.4"
identify = "==2.5.35"
idna = "==3.6"
jafgen = "==0.4.12"
markdown-it-py = "==3.0.0"
mdurl = "==0.1.2"
nodeenv = "==1.8.0"
numpy = "==1.26.4"
platformdirs = "==4.2.0"
pre-commit = "==3.7.0"
pygments = "==2.17.2"
python-dateutil = "==2.9.0.post0"
pyyaml = "==6.0.1"
requests = "==2.31.0"
rich = "==13.7.1"
shellingham = "==1.5.4"
six = "==1.16.0"
typer = "==0.12.3"
typing-extensions = "==4.11.0"
urllib3 = "==2.2.1"
virtualenv = "==20.25.1"

[dev-packages]

[requires]
python_version = "3.11"
